.full-size{
    height: 100%;
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.transparent-btn {
    border: none !important;
    background: transparent !important;
}
