@import "variables";

.image-error-slot {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  color: #909399;
}

.sidebar-toggle {
  height: 50px !important;
  line-height: 50px !important;
  background: #eee;
}

.full-size {
  height: 100% !important;
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.block {
  display: block;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-bold-700 {
  font-weight: 700 !important;
}

.text-bold-600 {
  font-weight: 600 !important;
}

.text-left {
  text-align: left !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-16 {
  font-size: 16px !important;
}

.text-24 {
  font-size: 24px !important;
}

.pointer {
  cursor: pointer;
}


.bg-primary {
  background: $--color-primary !important;
}

.bg-success {
  background: $--color-success !important;
}

.bg-warning {
  background: $--color-warning !important;
}

.bg-danger {
  background: $--color-danger !important;
}

.bg-info {
  background: $--color-info !important;
}

.bg-dark {
    background: $--color-dark !important;
}

.text-primary {
  color: $--color-primary !important;
}

.text-success {
  color: $--color-success !important;
}

.text-warning {
  color: $--color-warning !important;
}

.text-danger {
  color: $--color-danger !important;
}

.text-info {
  color: $--color-info !important;
}

.text-light {
  color: #fff !important;
}

.text-dark {
  color: #000 !important;
}

