.image-error-slot {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    color: #909399;
}

.sidebar-logo {
    height: 50px;
    line-height: 50px;
    background: #eee;
}

.full-size{
    height: 100%;
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.transparent-btn {
    border: none !important;
    background: transparent !important;
}

.text-center{
    text-align: center !important;
}

.text-right{
    text-align: right !important;
}

.text-left{
    text-align: left !important;
}

.text-16{
    font-size: 16px !important;
}
.text-24 {
    font-size: 24px !important;
}

