/* Reset element container tag */
header, main, aside, footer {
    padding: 0 !important;
    margin: 0 !important;
}

.el-dialog__body {
    padding: 0 20px !important;
}

h1,h2,h3,h4,p,b {
    white-space: pre-wrap;
    word-break: keep-all;
}

.el-loading-spinner .el-loading-text {
    color: $--color-success !important;
}

.el-loading-spinner .path{
    stroke: $--color-success !important;
}

.el-drawer{
    overflow-y: auto;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $--color-success !important;
    border-color: $--color-success !important;
}

@media only screen and (max-width: 600px) {
    .el-message-box {
        width: 90% !important;
    }
}

.el-alert__description {
    word-break: keep-all !important;
}