$--color-primary: #409EFF !default;
$--color-success: #07a651 !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--color-white: #fff !default;
$--color-light: #e8f0fd !default;
$--color-dark: #566a79 !default;
$--color-yellowgreen: #9acd32 !default;
$--color-warning-light: #fdd488 !default;
$--color-border: #DCDFE6 !default;
